.form-container {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
}
.auth-form {
  width: 360px;
  margin: auto;
}
.auth-form .input-container {
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}
.auth-form .input-container label {
  position: absolute;
  font-size: 22px;
  transition: all 0.3s;
  text-transform: capitalize;
  margin-left: 10px;
}
.auth-form .input-container input {
  width: 100%;
  border: none;
  outline: none;
  height: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0 5px;
  border-bottom: 1px solid black;
}
.auth-form .input-container input::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.auth-form .input-container input:focus,
.auth-form .input-container input:valid {
  background: rgba(0, 108, 255, 0.15);
}
.auth-form .input-container input:focus::after,
.auth-form .input-container input:valid::after {
  width: 100%;
}
.auth-form .input-container input:focus + label,
.auth-form .input-container input:valid + label {
  margin-top: -25px;
  font-size: 16px;
  margin-left: 0;
}
.auth-form .input-container.error input {
  background: rgba(255, 0, 0, 0.15);
}
.auth-form .input-container.error input:valid {
  background: rgba(255, 0, 0, 0.15);
}
.auth-form .input-container i {
  position: absolute;
  right: 0;
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.auth-form .input-container .error-input {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  color: red;
  display: flex;
  align-items: center;
}
.auth-form .input-container .error-input i {
  position: relative;
  height: 100%;
  display: inline-block;
  font-size: 14px;
}
.auth-form .input-container .error-input p {
  font-size: 12px;
}
.auth-form .auth-button {
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 3px;
  font-weight: 600;
  color: white;
  margin-left: 105px;
  margin-top: 50px;
  cursor: pointer;
  outline: none;
  background: rgba(0, 108, 255, 0.8);
}
.auth-form .auth-button:hover {
  background: rgba(0, 108, 255, 0.6);
}
.auth-form .auth-button:active {
  background: #006cff;
}
